<div id = "background">
	<div id = 'index_body' class ="text-center large-8 small-10 large-centered small-centered columns">
			<h1 class="white text ">Let's get to work!</h1>
			<h1 class="white text ">Let's do some research!</h1>
			<%= link_to "Get started!", new_user_registration_path , :class => "button radius " %>
	</div>
</div>

