/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides

 */
 ul {
 	list-style-type: none;
 }
 /*question form*/
 .text_edit {
 	display: block;
 }
 .type_edit {
 	display: block;
 }
 .text_solid {
 	display: block;
 }
 .type_solid {
 	display: block;
 }

 .button_confirm{
 	display: none;
 }
 .button_edit {
 	display: block;
 }
 .question_form {
 	border-top: 4px solid gray;
 	border-bottom: 4px solid gray;
 }
 /*question form end*/

/*survey form*/

#survey_title_edit{
	display: none;
}

#survey_description_edit{
	display: none;
}
#survey_title_solid{
	display: block;
}

#survey_description_solid{
	display: block;
}
#survey_button_edit {
	display: block;
}
#survey_button_confirm {
	display: none;
}

/*survey form end*/