/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides
*= require toastr
 */

#survey_form {
	padding-top: 15px;
}
#new_survey {
	padding-top: 15px;
}
 .notice {
	width: 100%;
	background-color: #68E516;
	text-align: center;
	color: black;
	font-family: 'Raleway', sans-serif; 
}

.alert {
	text-align: center;
	color: white;
	font-family: 'Raleway', sans-serif; 
	width: 100%;
  background-color:#FF3C25
}
 .text {
 	font-family: 'Cambay', sans-serif;
 }
 * {
 	font-family: 'Cambay', sans-serif;
 }
 .button {
 	font-family: 'Cambay', sans-serif;
 }
 div {
 	font-family: 'Cambay', sans-serif;
 }
 li {
 	font-family: 'Cambay', sans-serif;
 }
 h2 {
 	font-family: 'Cambay', sans-serif;
 }
 section {
 	font-family: 'Cambay', sans-serif;
 }
#background {
	height: 90%;
	width: 100%;
	background: url('background.jpg') no-repeat;
	background-size: 100%;
}
.white {
	color:white;
}
#index_body {
	padding-top: 5%;
}

 ul {
	font-family: 'Cambay', sans-serif;
 	list-style-type: none;
 }
 .text-center {
 	text-align: center;
 }
 /*question form*/
 .text_edit {
 	display: block;
 }
 .type_edit {
 	display: block;
 }
 .text_solid {
 	display: block;
 }
 .type_solid {
 	display: block;
 }

 .button_confirm{
 	display: none;
 }
 .button_edit {
 	display: block;
 }
 .question_form {
 	border-top: 4px solid gray;
 	border-bottom: 4px solid gray;
 }
 /*question form end*/

/*survey form*/

#survey_title_edit{
	display: none;
}

#survey_description_edit{
	display: none;
}
#survey_title_solid{
	display: block;
}

#survey_description_solid{
	display: block;
}
#survey_button_edit {
	display: block;
}
#survey_button_confirm {
	display: none;
}


/*survey form end*/


/*icon sizes*/

	.size-12 { font-size: 12px; }

	.size-14 { font-size: 14px; }

	.size-16 { font-size: 16px; }

	.size-18 { font-size: 18px; }

	.size-21 { font-size: 21px; }

	.size-24 { font-size: 24px; }
	.size-30 { font-size: 30px; }
	.size-36 { font-size: 36px; }

	.size-48 { font-size: 48px; }

	.size-60 { font-size: 60px; }

	.size-72 { font-size: 72px; }

.fi-trash {
	color: gray;
}
.fi-pencil {
	color: orange ;
}
.fi-graph-bar {
	color: green;
}

/*icon sizes end*/


/*stats*/
.divider {
	height: 1px;
	width: 100%;
	background-color: gray;
}
.survey-holder li{
	border-bottom: 1px solid gray;
}
.survey-holder li:last-child {
	border-bottom: none;
}


